 /* CartWidget */
.CartWidgetContainer {
    margin: 1rem;
    width: 2.5rem;
  }

  .cart_title {
    font-family: 'Alkalami', serif;
    margin: 1rem;
    padding-top: 1rem;
    font-size: 4rem;
  }
  .container_card{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 35rem;
    max-width: 960px;
  }

  .container_card a button{
    width: 33%;
    margin-left: 2.4rem;
    margin-top: 2rem;
  }

.cart_container {
  padding: 0 1rem 0 0;
  float: left;
  width: 63%;
  height: 35rem;
  overflow-y: auto;
  }

  .cart_container .list-group{
    height: 15rem;
  }

.cart-header {
    margin-top: 2rem;
  }
.cart-content {
    margin-top: 2rem;
  }
.cart-footer {
    margin-top: 20px;
  }
.add_count {
  top: 1rem;
  right: 0.5px;
  position: absolute;
  background: #4b1b10;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.cart_empty {
  text-align: center;
}
  .cart_empty img{
    width: 30rem;
  }
  .cart_empty button{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
  }
.cart_title {
  text-align: center;
}

.formFlex{
  margin-bottom: 1rem;
}

.formFlex input{
  width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid gray;
}

.fin-tr{
  float: right;
  width: 33%;
  border: solid gray 1px;
  border-radius: 8px;
  padding: 1rem;
}

.order-style{
  margin: 1rem 0 2rem 0;
  border-top: 1px gray solid;
  padding-top: 1rem;
}

.cart-footer .text-warning{
  font-size: 2.5rem;
}

.card_product{
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.card-product h3{
  margin-bottom: 2.5rem;
}

.card-product p{
  margin-bottom: 4px;
}

.product_content{
  display: flex;
}

.product_end{
  text-align: right;
}

.product_img, .product_data, .product_end{
  width: 33%;
}



@media (max-width: 600px) {
  .cart_container {
    height: 25rem;
    margin: 10px;
  }
  .cart_container, .fin-tr, .Footer{
    width: 100%;
  }

  .container_card{
    height: 60rem;
  }

  .container_card a button {
    width: 100%;
    margin-left: 0px !important;
    margin-top: 1rem;
}
.cart_empty img{
  width: 19rem;
}

.cart_title {

  font-size: 2rem;
}
.add_count {
  
  margin-top: -52px;
  margin-left: 31px;
      top: auto;
    right: auto;
}
.container_card {
  padding-top: 1rem;
}
}