
.itemDetail {
    margin: 0px 10px;
    height: 85vh;
}
.item-image {
    padding: 20px 1px;
}
.item-image p {
    font-size: 1.3rem;
text-align: center;
margin: 2rem;
}
.badge-detail {
    font-size: 1rem;
}
.item-title {
    font-size: 4em;
    padding: 20px 0px;
}
.item-price {
    font-size: 3rem;
}
.card-description {
    margin: 1.8rem 0rem;
}





.itemCountContainer {
    position: relative;

}
.itemCountContainer_botons {

  position: absolute;
}
