/* NavBar */

.container-fluid {
    background-color: #A1CAC8;
    padding: 20px;
    padding-bottom: 35px !important;
}
  @media screen {
    .container-fluid {
      background-color: #A1CAC8;
      padding: 2px;
  }
  }
  
  .nav-link {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 2rem
  }
 .navbar-nav {
  padding-left: 
  50px;
 }
  /* CartWidget */
.CartWidgetContainer {
  margin: 1rem;
  width: 2rem;
}