.itemCountContainer {
    position: relative;
    margin: 2rem;
    width: 230px;
    height: 280px;
    background: #A1CAC8;
}
.itemCountContainer_botons {
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  bottom: 0;
  position: absolute;

}
